@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap");

html {
  scroll-behavior: smooth;
  overflow: overlay;
}

.background-image {
  padding-top: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.intro-bg {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-top: 100%;
}
  
.intro-bg-1 {
  background-image: url(https://res.cloudinary.com/dzzv49yec/image/upload/v1700371335/intro1_xjim8g.png);
}

.intro-bg-2 {
  background-image: url(https://res.cloudinary.com/dzzv49yec/image/upload/v1700414919/intro2_smo4hb.png);
}
